<div class="form-signin" style="padding-top: 200px; text-align: center;">
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
    <form [formGroup]="registrationForm" (validSubmit)="registrationHandler(loginInput.value, emailInput.value)">
        <div class="form-floating form-group">
            <input #loginInput type="text" class="form-control" id="login"
                   placeholder="Логин"
                   formControlName="Login">
            <label for="login">Логин</label>
            <bfv-messages></bfv-messages>
        </div>
        <div class="form-floating form-group">
            <input #emailInput type="email" class="form-control" id="email"
                   placeholder="Email"
                   formControlName="Email">
            <label for="email">Email</label>
            <bfv-messages></bfv-messages>
        </div>

        <button type="submit" [disabled]="!registrationForm.valid"
                class="w-100 btn btn-lg btn-primary button-offset-inner">
            Зарегистрироваться
        </button>
    </form>

    <button class="w-100 btn btn-lg btn-primary button-offset-end"
            (click)="this.authService.moveToSign()">
        Назад
    </button>
    <p class="mt-4 mb-3 text-muted">&copy; 2022</p>
</div>