<div id="building-info" class="flex-shrink-0 p-3 bg-white">
    <h3>Лестницы</h3>

    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <object-list [listTitle]="'Внутренние лестницы'" [titleVisible]="true" [objectsArray]="stairsArray"></object-list>
            </li>
            <li class="mb-1">
                <object-list [listTitle]="'Внешние лестницы'" [titleVisible]="true" [objectsArray]="outsideStairsArray" [type]="'stairs'"></object-list>
            </li>
        </ul>
    </div>
</div>
