<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Fifth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: 18px" href="#"><i class="bi-house-door" style="font-size: 1.5rem; color: white;"></i> 3D Plan View</a>
        <div class="collapse navbar-collapse" style="padding-top: 10px;" id="navbarsExample05">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">На главную</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Составить смету</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О продукте</a>
                </li>
            </ul>

            <div class="text-end">
                <button *ngIf="authService.isLogin()" type="button"
                        class="btn btn-warning space-button" (click)="logout()">Выйти</button>
                <button *ngIf="authService.isGuest()" type="button"
                        class="btn btn-warning space-button-end" (click)="sign()">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</nav>