<div class="form-signin" style="padding-top: 200px; text-align: center;">
    <h1 class="h3 mb-3 fw-normal">Добро пожаловать</h1>

    <button class="w-100 btn btn-lg btn-primary button-offset-inner" (click)="signIngByGuest()">
        Посмотреть без регистрации
    </button>
    <button class="w-100 btn btn-lg btn-primary button-offset-end" (click)="signOrRegister()">
        Войти или зарегистрироваться
    </button>
    <p class="mt-4 mb-3 text-muted">&copy; 2021–2022</p>
</div>