<div id="wall-info" class="flex-shrink-0 p-3 bg-white">
    <div *ngIf="highlightedWall != null">
        <h3>Стена</h3>
        Длина: {{highlightedWall.width}} м
        <br>
        Толщина:
        <br>
        Высота: {{highlightedWall.height / 100}} м
        <br>
        <button (click)="deleteWall()">
            <img src="../assets/images/trash.png" alt="trash">
        </button>
    </div>
</div>