<div id="building-info" class="flex-shrink-0 p-3 bg-white">
    <h3>Режим строительства</h3>
    <form>
        <div class="form_toggle">
            <div class="form_toggle-item item-1">
                <input id="fid-1" type="radio" name="radio" value="wall" checked (click)="singleModeOn()">
                <label for="fid-1">Одна стена</label>
            </div>
            <div class="form_toggle-item item-2">
                <input id="fid-2" type="radio" name="radio" value="room" (click)="roomModeOn()">
                <label for="fid-2">Комната</label>
            </div>
        </div>
    </form>
</div>
