<div id="wall-info" class="flex-shrink-0 p-3 bg-white">
    <div *ngIf="highlightedBalcony != null">
        <h3>Балкон</h3>
        Площадь: {{highlightedBalcony.commonSquare}} м
        <br>
        Периметр: {{highlightedBalcony.perimeter}} м
        <br>
        Напольное покрытие:
        <br>
        <img src="{{selectedFloor}}" style="height: 100px; cursor: pointer" alt="" (click)="goToFloorTextures()">
        <br>
        <button (click)="deleteBalcony()">
            <img src="../assets/images/trash.png" alt="trash">
        </button>
    </div>
</div>