<div class="form-signin" style="padding-top: 200px; text-align: center;">
    <h1 class="h3 mb-3 fw-normal">Авторизация</h1>

    <form [formGroup]="signForm" (validSubmit)="authorization(loginInput.value, passwordInput.value)">
        <div class="form-floating form-group">
            <input #loginInput type="text" class="form-control" id="login"
                   placeholder="Логин"
                   formControlName="Login">
            <label for="login">Логин</label>
            <bfv-messages></bfv-messages>
        </div>
        <div class="form-floating form-group">
            <input #passwordInput type="password" class="form-control" id="password"
                   placeholder="Пароль"
                   formControlName="Password">
            <label for="password">Пароль</label>
            <bfv-messages></bfv-messages>
        </div>

        <button type="submit" [disabled]="!signForm.valid"
                class="w-100 btn btn-lg btn-primary button-offset-inner">
            Войти
        </button>
    </form>
    <div>
        <a class="link-primary" [attr.href]="'#/auth/registration'">
            Зарегистрироваться
        </a>
    </div>
    <div>
        <a class="link-primary" [attr.href]="'#/auth/recovery-email'">
            Забыли пароль
        </a>
    </div>
    <div>
        <img alt="Google" title="Sign in with Google" class="button-icon"
             src="/assets/icons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
             loading="lazy">
        <span><a class="link-primary" [attr.href]="googleOath2LoginUrl">Войти через Google</a></span>
    </div>
    <p class="mt-4 mb-3 text-muted">&copy; 2022</p>
</div>