<div id="wall-info" class="flex-shrink-0 p-3 bg-white">
    <div *ngIf="highlightedPorch != null">
        <h3>Крыльцо</h3>
        Площадь: {{highlightedPorch.commonSquare}} м
        <br>
        Периметр: {{highlightedPorch.perimeter}} м
        <br>
        Напольное покрытие:
<!--        <select [(ngModel)]="selectedFloor" (ngModelChange)="floorChange($event)">-->
<!--            <option *ngFor="let floor of floors" [ngValue]="floor"> {{floor.name}} </option>-->
<!--        </select>-->
<!--        <br>-->
        <br>
        <img src="{{selectedFloor}}" style="height: 100px; cursor: pointer" alt="" (click)="goToFloorTextures()">
        <br>
        <button (click)="deletePorch()">
            <img src="../assets/images/trash.png" alt="trash">
        </button>
    </div>
</div>