<div id="room-info" class="flex-shrink-0 p-3 bg-white">
    <div *ngIf="highlightedRoom != null">
        <!--                    <h3>{{highlightedRoom.name}}</h3>-->
        <input id="roomName" type="text" size="20" value="{{highlightedRoom.name}}">
        <button (click)="changeRoomName()"> Сохранить</button>
        <br>
        Общая площадь: {{highlightedRoom.commonSquare}} м
        <br>
        Периметр: {{highlightedRoom.perimeter}} м
        <br>
        Покрытие стен:
        <br>
        <img src="{{selectedWallpaper}}" style="height: 100px; cursor: pointer" alt="" (click)="goToWallTextures()">
        <br>
        Напольное покрытие:
        <br>
        <img src="{{selectedFloor}}" style="height: 100px; cursor: pointer" alt="" (click)="goToFloorTextures()">
        <br>

        <button (click)="deleteRoom()">
            <img src="assets/images/trash.png" alt="trash">
        </button>
    </div>
</div>
