<div id="foundation" class="information-panel">
    <h3>Фундамент</h3>

    Тип фундамента:
    <br>
    <select>
        <option value="svainy">Свайный</option>
        <option value="lentochny">Ленточный</option>
    </select>
    <br>

    Облицовка фундамента:
    <select id = "foundation-texture" [(ngModel)]="selectedFoundationMaterial" (ngModelChange)="foundationMaterialsChange($event)">
        <option *ngFor="let wallpaper of wallpapers" [ngValue]="wallpaper"> {{wallpaper.name}} </option>
    </select>

</div>
