<button id="title-button" class="btn btn-toggle align-items-center rounded collapsed"
        [attr.data-bs-target]="'#' + this.expandableId" data-bs-toggle="collapse"  aria-expanded="false">
    {{listTitle}}
</button>
<div class="collapse" id="{{this.expandableId}}">
    <div class="container">
        <div *ngFor="let object of objectsArray; let j = index">
            <br>
            <div class="row">
                <div class="col">
                    <img class="object-icon" src="assets/images/trash.png" alt="trash"
                         (click)="createWindow(object, type)">
                </div >

              <div class="col">
              <div *ngIf="object.textures.length > 0">
              <button id="color-button" class="btn btn-toggle align-items-center rounded collapsed"
                      [attr.data-bs-target]="'#' + this.colorExpandableId + j" data-bs-toggle="collapse"  aria-expanded="false">
                <img class="object-icon material-cycle"
                     src="assets/materials-icons/{{object.textures[object.selectedIndex].color}}.svg" alt="trash">
<!--                   Выбрать цвет...-->
              </button>
              </div >
              </div >

              <div class="row">
              <div class="collapse" id="{{this.colorExpandableId + j}}">
              <div class="dropdown-menu p-2 shadow rounded-3" style="margin: 0" id="dropdownCalendar">
                <div class="d-grid gap-1">
                  <div class="cal">

                    <div class="cal-days">
                      <div *ngFor="let variant of object.textures; let i = index">
                        <button class="btn cal-btn" type="button">
                            <img class="object-icon material-cycle"
                                 src="assets/materials-icons/{{variant.color}}.svg" alt="trash"
                                 (click)="changeTextures(object, variant)">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
            </div>
        </div>
    </div>
</div>
