<div id="objects-bar" class="flex-shrink-0 p-3 bg-white">

    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <object-list [listTitle]="'Камины'" [titleVisible]="true" [objectsArray]="fireplacesArray"></object-list>
            </li>
            <li class="mb-1">
                <object-list [listTitle]="'Диваны'" [titleVisible]="true" [objectsArray]="sofasArray"></object-list>
            </li>
            <li class="mb-1">
                <object-list [listTitle]="'Кофейные столики'" [titleVisible]="true" [objectsArray]="coffeetablesArray"></object-list>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <object-list [listTitle]="'Кровати'" [titleVisible]="true" [objectsArray]="bedsArray"></object-list>
            </li>
            <li class="mb-1">
                <object-list [listTitle]="'Прикроватные тумбочки'" [titleVisible]="true" [objectsArray]="nightstandsArray"></object-list>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <object-list [listTitle]="'Обеденные столы'" [titleVisible]="true" [objectsArray]="tablesArray"></object-list>
            </li>
            <li class="mb-1">
                <object-list [listTitle]="'Стулья'" [titleVisible]="true" [objectsArray]="chairsArray"></object-list>
            </li>
            <li class="mb-1">
                <object-list [listTitle]="'Нижние шкафчики'" [titleVisible]="true" [objectsArray]="bottomKitchensArray"></object-list>
            </li>
            <li class="mb-1">
                <object-list [listTitle]="'Верхние шкафчики'" [titleVisible]="true" [objectsArray]="topKitchensArray"></object-list>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <object-list [listTitle]="'Сантехника'" [titleVisible]="true" [objectsArray]="plumbingsArray"></object-list>
            </li>
            <li class="mb-1">
                <object-list [listTitle]="'Ванная комната'" [titleVisible]="true" [objectsArray]="bathroomFurnitureArray"></object-list>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <object-list [listTitle]="'Декор'" [titleVisible]="true" [objectsArray]="decorsArray"></object-list>
            </li>
        </ul>
    </div>
</div>