<div id="textures-bar" class="flex-shrink-0 p-3 bg-white">
<button (click)="back()">Применить</button>
    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#stones-collapse" aria-expanded="true">
                    Камень
                </button>
                <div class="collapse show" id="stones-collapse">
                    <br>
                    <p *ngFor="let stone of stones">
                        <img class="object-icon" src="{{stone.link}}" alt="trash"
                             (click)="applyTexture(stone)">
                        <br>
                    </p>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#bricks-collapse" aria-expanded="false">
                    Кирпич
                </button>
                <div class="collapse" id="bricks-collapse">
                    <br>
                    <p *ngFor="let brick of bricks">
                        <img class="object-icon" src="{{brick.link}}" alt="trash"
                             (click)="applyTexture(brick)">
                        <br>
                    </p>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#wallpaper-collapse" aria-expanded="false">
                    Обои
                </button>
                <div class="collapse" id="wallpaper-collapse">
                    <br>
                    <p *ngFor="let wallpaper of wallpapers">
                        <img class="object-icon" src="{{wallpaper.link}}" alt="trash"
                             (click)="applyTexture(wallpaper)">
                        <br>
                    </p>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#plasters-collapse" aria-expanded="false">
                    Штукатурка
                </button>
                <div class="collapse" id="plasters-collapse">
                    <br>
                    <p *ngFor="let plaster of plasters">
                        <img class="object-icon" src="{{plaster.link}}" alt="trash"
                             (click)="applyTexture(plaster)">
                        <br>
                    </p>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#paints-collapse" aria-expanded="false">
                    Краска
                </button>
                <div class="collapse" id="paints-collapse">
                    <br>
                    <p *ngFor="let paint of paints">
                        <img class="object-icon" src="{{paint.link}}" alt="trash"
                             (click)="applyTexture(paint)">
                        <br>
                    </p>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#woods-collapse" aria-expanded="false">
                    Дерево
                </button>
                <div class="collapse" id="woods-collapse">
                    <br>
                    <p *ngFor="let wood of woods">
                        <img class="object-icon" src="{{wood.link}}" alt="trash"
                             (click)="applyTexture(wood)">
                        <br>
                    </p>
                </div>
            </li>

        </ul>
    </div>
</div>