<div id="model3D-info" class="flex-shrink-0 p-3 bg-white">
    <h3>Объект</h3>
    Перемещать
    <button (click)="moveObject()">
        <img src="assets/images/trash.png" alt="trash">
    </button>
    <br>
    Поворот по часовой стрелке
    <button (click)="rotateObjectClockwise()">
        <img src="assets/images/trash.png" alt="trash">
    </button>
    <br>
    Поворот против часовой стрелки
    <button (click)="rotateObjectCounterClockwise()">
        <img src="assets/images/trash.png" alt="trash">
    </button>
    <br>
    <button (click)="deleteObject()">
        <img src="assets/images/trash.png" alt="trash">
    </button>
</div>
