<div class="modal modal-sheet  d-block bg-secondary bg-opacity-50" tabindex="-1" role="dialog" id="modalSheet" style="visibility: hidden">
  <div class="modal-dialog" role="document">
    <div id="save-project" class="modal-content rounded-6 shadow" style="top: 15rem;">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Сохранить проект</h5>
        <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <p>Сохраните или обновите уже готовый проект, чтобы не потерять изменения.</p>
      </div>
      <div class="modal-footer flex-column border-top-0">
        <button (click)="createNewProject()" type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Создать новый проект</button>
        <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Обновить существующий</button>
      </div>
    </div>
    <div id="type-project-name" class="modal-content rounded-6 shadow" style="visibility: hidden">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Введите имя проекта</h5>
        <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <input type="text">
      <div class="modal-footer flex-column border-top-0">
        <button (click)="save()" type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Сохранить</button>
        <button (click)="closeModal()" type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>
