<div id="main-info" class="flex-shrink-0 p-3 bg-white">
    <h3>Жилой дом</h3>

    <form>
        <div >
            <div >
                <input type="radio" name="radio" value="wall" checked (click)="singleModeOn()">
                <label>Одна стена</label>
            </div>
            <div >
                <input type="radio" name="radio" value="room" (click)="roomModeOn()">
                <label>Комната</label>
            </div>
            <div >
                <input type="radio" name="radio" value="room" (click)="balconyForViewModeOn()">
                <label>Балкон</label>
            </div>
            <div >
                <input type="radio" name="radio" value="room" (click)="porchForViewModeOn()">
                <label>Крыльцо</label>
            </div>
            <div >
                <input type="radio" name="radio" value="room" (click)="roofForViewModeOn()">
                <label>Крыша</label>
            </div>
            <div >
                <input id="fid-7" type="radio" name="radio" value="room" (click)="models3DModeOn()">
                <label>Мебель</label>
            </div>
        </div>
    </form>
    <br>

    Стены:
    <br>
    <form>
        <div class="form_toggle">
            <div class="form_toggle-item item-1">
                <input id="fid-1" type="radio" name="radio" value="wall" checked
                       (click)="changeWallsHeightView(1)">
                <label for="fid-1">Поднять</label>
            </div>
            <div class="form_toggle-item item-2">
                <input id="fid-2" type="radio" name="radio" value="room"
                       (click)="changeWallsHeightView(0.2)">
                <label for="fid-2">Опустить</label>
            </div>
        </div>
    </form>
    <br>

    Крыша:
    <br>
    <form>
        <div class="form_toggle">
            <div class="form_toggle-item item-1">
                <input id="fid-5" type="radio" name="radio" value="wall" checked
                       (click)="changeRoofVisibility(true)">
                <label for="fid-5">Показать</label>
            </div>
            <div class="form_toggle-item item-2">
                <input id="fid-6" type="radio" name="radio" value="room"
                       (click)="changeRoofVisibility(false)">
                <label for="fid-6">Скрыть</label>
            </div>
        </div>
    </form>
    <br>

    Внешнее покрытие стен:
    <br>
    <img src="{{selectedOutsideMaterial}}" style="height: 100px; cursor: pointer" alt="" (click)="goToTextures('outside')">
    <br>


    Облицовка фундамента:
    <br>
    <img src="{{selectedFoundationMaterial}}" style="height: 100px; cursor: pointer" alt="" (click)="goToTextures('foundation')">
    <br>

    Черепица:
    <select [(ngModel)]="selectedRoofMaterial" (ngModelChange)="roofMaterialsChange($event)" class="dropdown-menu dropdown-menu-macos mx-0 shadow" style="width: 220px; margin: 0">
        <option class="dropdown-item" *ngFor="let roof of roofs" [ngValue]="roof"> {{roof.name}} </option>
    </select>
    <br>

    Тип фундамента:
    <br>
    <select class="dropdown-menu dropdown-menu-macos mx-0 shadow" style="width: 220px; margin: 0">
        <option class="dropdown-item" value="svainy">Свайный</option>
        <option class="dropdown-item" value="lentochny">Ленточный</option>
    </select>
    <br>

    Общая площадь:
    <br>
    Количество комнат:
    <br>
    Количество окон:
    <br>
    Количество дверей:
    <br>
    Количество лестниц:
    <br>
    Высота стен:
    <br>
    Количество этажей:
    <br>

    <button (click)="showRoof()">
        Крыша
    </button>
    <br>
    <button id="addLevelButton" (click)="addLevel()">
        Добавить этаж
    </button>
    <br>
    <button id="level3" (click)="showLevel(3)">
        Этаж 3
    </button>
    <br>
    <button id="level2" (click)="showLevel(2)">
        Этаж 2
    </button>
    <br>
    <button id="level1" (click)="showLevel(1)">
        Этаж 1
    </button>
    <br>

</div>
