<div id="building-info" class="flex-shrink-0 p-3 bg-white">
    <h3>Крыша</h3>
    <div id="roof-scroll">
        <p *ngFor="let roof of roofsArray">
            <img class="object-icon" src="../assets/images/trash.png" alt="trash" (click)="createRoof(roof)" class="object-icon">
            <br>
        </p>
    </div>
</div>
