<div id="building-info" class="flex-shrink-0 p-3 bg-white">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <object-list [listTitle]="'Двери'" [titleVisible]="true" [objectsArray]="doorsArray"></object-list>
            </li>
        </ul>
    </div>
</div>
