<div id="railing" class="flex-shrink-0 p-3 bg-white">
    <h3>Перила</h3>
    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <object-list [listTitle]="'Перила'" [titleVisible]="true" [objectsArray]="railingsArray" [type]="'railings'"></object-list>
            </li>
        </ul>
    </div>
</div>
