<save-load></save-load>

<div id="content-block" class="content-block">

<planview-header></planview-header>

    <div id="view" style="height: 85%">
        <header class="p-3 mb-3 border-bottom" style="padding: 0rem!important;margin: 0rem!important;">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><button id="save" style="background: none; border: none; color: black;" class="nav-link px-2 text-black" (click)="openSaveModal()"><i class="bi-save" style="font-size: 1.5rem; color: black;"></i><br>Сохранить</button></li>
                        <li><button id="load" style="background: none; border: none; color: black" class="nav-link px-2 text-black" (click)="openLoadModal()"><i class="bi-upload" style="font-size: 1.5rem; color: black;"></i><br>Загрузить</button></li>
                        <li><button id="viewMode" style="background: none; border: none;" class="nav-link px-2 text-black" (click)="viewModeOn()"><i id="i-viewMode" class="bi-eye" style="font-size: 1.5rem; color: black;"></i><br>Просмотр</button></li>
                        <li><button id="buildingMode" style="background: none; border: none" class="nav-link px-2 text-black" (click)="buildModeOn()"><i id="i-buildingMode" class="bi-bricks" style="font-size: 1.5rem; color: black;"></i><br>Стены</button></li>
                        <li><button id="porchMode" style="background: none; border: none" class="nav-link px-2 text-black" (click)="porchModeOn()"><i id="i-porchMode" class="bi-box" style="font-size: 1.5rem; color: black;"></i><br>Крыльцо</button></li>
                        <li><button id="balconiesMode" style="background: none; border: none" class="nav-link px-2 text-black" (click)="balconiesModeOn()"><i id="i-balconiesMode" class="bi-basket" style="font-size: 1.5rem; color: black;"></i><br>Балконы</button></li>
                        <li><button id="columnsMode" style="background: none; border: none" class="nav-link px-2 text-black" (click)="columnsModeOn()"><i id="i-columnsMode" class="bi-modem" style="font-size: 1.5rem; color: black;"></i><br>Колонны</button></li>
                        <li><button id="stairsMode" style="background: none; border: none" class="nav-link px-2 text-black" (click)="stairsModeOn()"><i id="i-stairsMode" class="bi-bar-chart-steps" style="font-size: 1.5rem; color: black;"></i><br>Лестницы</button></li>
                        <li><button id="windowsMode" style="background: none; border: none" class="nav-link px-2 text-black" (click)="windowsModeOn()"><i id="i-windowsMode" class="bi-border-all" style="font-size: 1.5rem; color: black;"></i><br>Окна</button></li>
                        <li><button id="doorsMode" style="background: none; border: none" class="nav-link px-2 text-black" (click)="doorsModeOn()"><i id="i-doorsMode" class="bi-door-open" style="font-size: 1.5rem; color: black;"></i><br>Двери</button></li>
                        <li><button id="roofMode" style="background: none; border: none" class="nav-link px-2 text-black" (click)="roofModeOn()"><i id="i-roofMode" class="bi-house" style="font-size: 1.5rem; color: black;"></i><br>Крыша</button></li>
                        <li><button id="railingsMode" style="background: none; border: none" class="nav-link px-2 text-black" (click)="railingsModeOn()"><i id="i-railingsMode" class="bi-distribute-horizontal" style="font-size: 1.5rem; color: black;"></i><br>Перила</button></li>
                        <li><button id="objectsMode" style="background: none; border: none" class="nav-link px-2 text-black" (click)="objectsModeOn()"><i id="i-objectsMode" class="bi-lamp" style="font-size: 1.5rem; color: black;"></i><br>Мебель</button></li>
                    </ul>
                </div>
            </div>
        </header>

        <div id="content" class="div1" tabindex="0" (mousemove)="onPointerMove($event)" (mousedown)="onPointerDown($event)" (mouseup)="onPointerUp()" (keydown)="onDocumentKeyDown($event)" (keyup)="onDocumentKeyUp($event)">
        </div>
        <div id="div2" class="div2">
            <rightpanel></rightpanel>
        </div>

        <div id="hint" class="hint" hidden>
            <p id="hint-text">Подсказка</p>
        </div>
    </div>
</div>
