.plan-menu {
    /*display: grid;*/
    /*grid-template-columns: repeat(20, 1fr);*/
}

.content {
    position: absolute;
    left: 0;
    top: 20%;
    width: 87%;
    height: 100%;
}

.button-menu {
    background-color: #A6B6C5;
    border-color: #404B5E;
    border-style: solid; /* Стиль рамки вокруг параграфа */
    border-width: 1px;
    /*padding: 3% 3% 3% 3%;*/
    width: fit-content;
    height: inherit;
    cursor: pointer;
}

.long-button {
    color: #D1D9E0;
    background-color: #404B5E;
    border-color: #A6B6C5;
    border-style: solid; /* Стиль рамки вокруг параграфа */
    border-width: 1px;
    /*padding: 3% 3% 3% 3%;*/
    width: 20vw;
    /*height: inherit;*/
    cursor: pointer;
}

.information-panel{
    padding: 3% 3% 3% 3%;
}

.object-icon{
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.hint{
    position: absolute;
    top: 800px;
    left: 500px;
    color: white;
    font-size: 22px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.div1{
    width: 80%;
    height: 100%;
    min-height: 150px;
    background: #ccc;
    float: left;
}
.div2{
    min-height: 150px;
    margin-left: 80%;
    background-color: white;
    /*border-color: #404B5E;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    overflow-y: scroll;
    overflow-x: hidden;
}
.header{
    clear: left;
    background: #404B5E;
    height: 50px;
}

.my-flex-block{
    flex-wrap: wrap;
    width: -webkit-fill-available;
    height: inherit;
}

.my-flex-container{
    display: flex;
    height: inherit;
}

.form_toggle {
    display: inline-block;
    overflow: hidden;
}
.form_toggle-item {
    float: left;
    display: inline-block;
    font-size: 10px;
}
.form_toggle-item input[type=radio] {
    display: none;
}
.form_toggle-item label {
    display: inline-block;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-right: none;
    cursor: pointer;
    user-select: none;
}

.form_toggle .item-1 label {
    border-radius: 6px 0 0 6px;
}
.form_toggle .item-2 label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;
}

/* Checked */
.form_toggle .item-1 input[type=radio]:checked + label {
    color: #D1D9E0;
    background: #404B5E;
}
.form_toggle .item-2 input[type=radio]:checked + label {
    color: #D1D9E0;
    background: #404B5E;
}