/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

.button-confirm {
    background-color: #A6B6C5;
    padding: 3% 3% 3% 3%;
    width: fit-content;
    cursor: pointer;
    border-radius: 10%;
}

.button-icon {
    height: 1rem;
    width: 1rem;
    flex-shrink: 0;
    margin-right: 0.25rem;
    top: auto;
}

.content-block {
    background-color: #f5f5f5;
    width: fit-content;
}

.button-offset-inner {
    margin: 5px 0;
}

.button-offset-end {
    margin: 0 0 5px;
}