<div id="roof-info" class="flex-shrink-0 p-3 bg-white">
    <h3>Крыша</h3>
    Ничего не делать
    <button (click)="unselectObject()">
        <img src="../assets/images/trash.png" alt="trash">
    </button>
    <br>
    Изменить размер
    <button (click)="scaleObject()">
        <img src="../assets/images/trash.png" alt="trash">
    </button>
    <br>
    Перемещать
    <button (click)="moveObject()">
        <img src="../assets/images/trash.png" alt="trash">
    </button>
    <br>
    Поворот по часовой стрелке
    <button (click)="rotateObjectClockwise()">
        <img src="../assets/images/trash.png" alt="trash">
    </button>
    <br>
    Поворот против часовой стрелки
    <button (click)="rotateObjectCounterClockwise()">
        <img src="../assets/images/trash.png" alt="trash">
    </button>
    <br>
    <button (click)="deleteRoof()">
        <img src="../assets/images/trash.png" alt="trash">
    </button>
</div>
